export DATABASE_TEST_URL=postgres://postgres:postgres@localhost:5432/web_test
export DATABASE_URL=postgres://postgres:postgres@localhost:5432/web_dev
export TESTING=0
export ENVIRONMENT=dev
export PYTHONPATH=$PWD/project
export APP_NAME=shrouded-anchorage-19961
